.popular{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    min-height: 50vh;
    padding: 40px 20px;
}
.popular h1{
    color: #171717;
    font-size: 50px;
    font-weight: 600;
}
.popular hr{
    width: 200px;
    height: 6px;
    border-radius: 10px;
    background: #252525;
    border: none;
}
.popular-item{
    margin-top: 50px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
    justify-items: center;
}